      <footer>
        <p>&copy; SLAB Interactive 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- JavaScript at the bottom for fast page loading -->
  
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{site_url}public/scripts/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    
    <!-- Twitter Bootstrap JavaScript - All In One -->
    <script src="{site_url}public/scripts/js/libs/bootstrap/bootstrap.min.js"></script>

    <!-- Twitter Bootstrap JavaScript - Individual Plugins -->
    <!-- <script src="scripts/js/libs/bootstrap/bootstrap-transition.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-alert.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-modal.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-dropdown.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-tab.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-tooltip.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-popover.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-button.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-collapse.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-carousel.js"></script>
    <script src="scripts/js/libs/bootstrap/bootstrap-typeahead.js"></script> -->

    <!-- scripts concatenated and minified via build script -->
    <script src="{site_url}public/scripts/js/plugins.js"></script>
    <script src="{site_url}public/scripts/js/script.js"></script>
    <!-- end scripts -->
  
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
         mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>